#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body {
    background-color: #424242;
    color: #9e9e9e;
}

#header {
    padding-top: 20%;
}